/* JobsPage Styles */
.jobs-page {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  /* Sidebar Styles */
  .sidebar {
    width: 25%;
  }
  
  .sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .sidebar label {
    display: block;
    margin-bottom: 10px;
  }
  
  /* JobList Styles */
  .job-list {
    width: 70%;
  }
  
  /* JobCard Styles */
  .job-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
  }
  
  .job-card h3 {
    margin-bottom: 5px;
  }
  